# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=377719265246-3aikomf510e87fk08o1bh6d5hfggu7fm.apps.googleusercontent.com

# Backend Configuration
DATABASE_URL=sqlite:///./meetings.db
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=377719265246-3aikomf510e87fk08o1bh6d5hfggu7fm.apps.googleusercontent.com
